/* Body elements */

.block {

    margin-bottom: 5%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255,255,255,0.5);
}

/* Header */

#monkeyNumber {
    padding: 20px;
}

.about {
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}


