/* Footer */

#footer
{
    width: 100%;
    bottom: 0;
    position: fixed;
    margin-top: 20px;
    background-color: rgb(88,101,93);
    text-align: right;
    padding: 6px 0;
}

#footer a
{
    margin:0 6px !important;
    text-decoration: none !important;
    background-color: rgb(88,101,93);
    padding: 6px 0;
}