	</div>
	<div id="footer">
		<a href="#top">The Monkey Gallery &#169</a>
	</div>
	
	<!-- 
		Els fitxers Javascript van al footer sempre tret de 
		 que siguin molt imprescindibles pel funcionament del web
	 -->
	<script src="{$url.global}/js/scripts.js"></script>
</body>
</html>